html{
    background-color: #FFEFD5;
    margin-left: 10%;
    margin:10%
}

#lista li{
    list-style-image:url(chili-pepper-icon.gif);
    background-color: rgb(95, 95, 215);
    

}
header{
    background-image:url(./szines.jpg) ;
    background-size: cover;
    height: 100px;
    color:rgb(69, 67, 67) ;
    padding: 20px
    
    
    
  
}
section{
    height: 250px;
    
}
#szekció{
    float: left;
    width:30%;
}
aside{
    float: right;
    height: 500px; 
    width: 60%;
    margin:50px;   
}
h2, p{
    color: #8B4513;

}
table, th, td{
    border: 2px solid gray;
    width: 350px;
    border-collapse: collapse;
    color: #8B4513;
    font-weight: 700;
    margin:50px;
    
    
    
    
    
}
.table1{
    height: 50px;
    
}
#lila{
    background-color: rgb(156, 89, 156);
    text-align: center;
}
#piros{
    background-color: rgb(189, 109, 109);
    text-align: center;
}
#fehér{
    background-color: rgb(255, 238, 238);
    text-align: center;
}
#green{
    background-color: rgb(86, 157, 86);
    text-align: center;
}
#közep{
    text-align: center;
}
