html{
    background-color: #FFEFD5;
}

#lista li{
    list-style-image:url(chili-pepper-icon.gif);
    background-color: rgb(95, 95, 215);
    

}
header{
    background-image:url(./szines.jpg) ;
    background-size: cover;
    height: 150px;
    width: 100%;
    padding: 20px
    
    
  
}
section{
    height: 250px;
    
}
#szekció{
    float: left;
    width:30%;
}
aside{
    float: right;
    height: 500px; 
    width: 60%;   
}
